/* start about-us section styles */

.about-us-wrapper .section-title span {
    display: inline-block;
}

.about-us-wrapper .section-title span::before {
    content: "";
    width: 40px;
    height: 3px;
    background-color: orange;
    position: absolute;
    top: 50%;
    right: -55px;
}

.about-us-wrapper .section-title span::after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: -55px;
}

.about-us-left-side {
    background-color: #f6f6f6;
    /* min-height: 300px; */
    padding: 40px;
    margin-top: 40px;
}

.about-us-left-side h4 {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 18px;
    font-size: 18px;
    color: rgb(9, 9, 9);
}

.about-us-left-side p {
    padding: 16px;
    font-size: 16px;
    line-height: 26px;
    color: rgb(24, 24, 24);
}

.about-us-left-side a {
    background-color: orange;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    float: left;
    margin-left: 10px;
    font-size: 14px;
    transition: 0.3s ease;
}

.about-us-left-side a:hover {
    border-radius: 0 10px 0 10px;
}

@media screen and (max-width: 767px) {
    .about-us-right-side {
        display: none;
    }
}

@media screen and (min-width: 910px) and (max-width: 1100px) {
    .about-us-left-side {
        padding: 15px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 909px) {
    .about-us-left-side {
        padding: 10px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .about-us-left-side h4 {
        font-size: 18px;
    }

    .about-us-left-side p {
        font-size: 14px;
    }

    .about-us-left-side a {
        font-size: 14px;
    }
}