/* start contact section styles */

.container-fluid-custom {
    background-color: #041121;
    color: #fff;
    height: 40px;
}

.container-fluid-custom .contact {
    font-size: 15px;
}

.container-fluid-custom .contact i {
    color: orange;
    vertical-align: -10px;
    margin-right: 15px;
}

.container-fluid-custom .contact i span {
    color: #fff;
    margin: 5px;
    vertical-align: 1px;
}

.container-fluid-custom .social-media {
    direction: ltr;
}

.container-fluid-custom .social-media i {
    vertical-align: -8px;
    padding: 12px;
}

.container-fluid-custom .social-media i:hover {
    background-color: orange;
}

.container-fluid-custom .social-media a {
    color: #fff;
}

@media only screen and (max-width: 860px) {
    .max860-hidden {
        display: none;
    }
}

/* end contact section styles */