/* start course section styles */

.course-wrapper .section-title span {
    display: inline-block;
}

.course-wrapper .section-title span::before {
    content: "";
    width: 40px;
    height: 3px;
    background-color: orange;
    position: absolute;
    top: 50%;
    right: -55px;
}

.course-wrapper .section-title span::after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: -55px;
}

.course-section-wrapper .card-body {
    margin: 14px 10px;
    padding-bottom: 12px;
}

.course-section-wrapper .card-body img {
    width: 32px;
    height: 32px;
    /* filter: grayscale(1); */
    filter: brightness(0.5);
    margin-top: 10px;
    margin-right: 10px;
}

.course-section-wrapper .card-body .course-title {
    top: 2px;
    right: 70px;
}

.course-section-wrapper .card-body .course-title a {
    font-size: 16px;
}

.course-section-wrapper .card-body .course-title p {
    font-size: 14px;
    color: #746b38;
}

.card {
    box-shadow: 1px 1px 1px 1px #f3f3f3;
    cursor: pointer;
    background: #fff;
}

.card-header .card-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s ease-in;
}

.card:hover .card-overlay {
    opacity: 1;
}

.card .card-overlay p {
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

.course-wrapper {
    background-image: url(../img/common_img.png);
    background-attachment: fixed;
}