/* start faq section styles */

.faq-section-wrapper .section-title span {
  display: inline-block;
}

.faq-section-wrapper .section-title span::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: orange;
  position: absolute;
  top: 50%;
  right: -55px;
}

.faq-section-wrapper .section-title span::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: orange;
  position: absolute;
  top: 50%;
  left: -55px;
}

.faq-section-bg {
  background-image: url(../img/faq-bg.jpg);
  min-height: 500px;
}

.faq-section-bg .faq-right-side {
  box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05);
  margin-top: 65px;
  background-color: #fff;
  padding: 56px;
}

.faq-section-bg .faq-right-side h6 {
  font-size: 16px;
}

.faq-section-bg .faq-right-side h6 i {
  font-size: 32px;
  margin-left: 16px;
  vertical-align: -5px;
  color: rgb(83, 83, 215);
}

.faq-section-bg .faq-right-side p {
  font-size: 14px;
  color: #7c7c7c;
  margin: 10px 47px 0 0;
}

.faq-section-bg .faq-left-side .tabs {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05);
}

.faq-section-bg .faq-left-side .tab {
  color: #fff;
  overflow: hidden;
}

.faq-section-bg .faq-left-side .tab-label {
  padding: 12px;
  background-color: rgb(83, 83, 215);
  width: 100%;
  cursor: pointer;
  display: block;
  font-size: 18px;
  transition: 0.5s ease;
}

.faq-section-bg .faq-left-side .tab-label:hover {
  background-color: rgb(55, 55, 185);
}

.faq-section-bg .faq-left-side .tab-label::after {
  content: "\276f";
  text-align: center;
  vertical-align: -3px;
  transition: 0.4s;
  float: left;
  padding: 2px 0 0 0;
}

.faq-section-bg .faq-left-side .tab-content {
  height: 0px;
  background-color: rgb(227, 227, 227);
  color: rgb(47, 47, 47);
  font-size: 16px;
  transition: 0.5s;
}

.faq-section-bg .faq-left-side input:checked ~ .tab-content {
  height: 100px;
  padding: 10px;
  overflow-y: scroll;
  scroll-margin-top: 20px;
  scroll-behavior: smooth;
}

.faq-section-bg .faq-left-side input:checked + .tab-label::after {
  transform: rotate(-90deg);
}

.faq-section-bg .faq-left-side input {
  display: none;
}

.faq-section-bg .faq-left-side {
  margin-top: 65px;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  .faq-section-bg .faq-left-side .tab-label {
    font-size: 16px;
  }

  .faq-section-bg .faq-left-side .tab-content {
    font-size: 14px;
  }

  .faq-section-bg .faq-right-side h6 {
    font-size: 14px;
  }

  .faq-section-bg .faq-right-side h6 i {
    font-size: 24px;
  }

  .faq-section-bg .faq-right-side p {
    font-size: 12px;
    margin: 10px 40px 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 983px) {
  .faq-section-bg .faq-right-side {
    padding: 50px 30px 50px 10px;
  }
}
