/* start footer section styles */

.footer-section-wrapper {
    background-color: #041121;
    min-height: 300px;
}

.footer-section-wrapper .copy-right {
    border-top: 1px solid #282346;
    padding: 10px;
    color: #4a4a4a;
    font-size: 14px;
}

.footer-section-wrapper .desc {
    padding: 14px;
    color: #fff;
}

.footer-section-wrapper .desc a {
    color: #d3d3d3;
    font-size: 18px;
    padding-right: 10;

}

.footer-section-wrapper .desc a i {
    color: #679658;
    font-size: 36px;
    transform: rotate(340deg);
    padding-left: 14px;
    vertical-align: -6px;
}

.footer-section-wrapper .desc p {
    color: #9c9898;
    font-size: 14px;
    margin-top: 14px;
}

.footer-section-wrapper .service,
.social,
.contact-us {
    padding: 28px 14px;
    color: #888787;
}

.footer-section-wrapper .service h6,
.social h6,
.contact-us h6 {
    font-size: 16px;
    border-bottom: 1px solid #302352;
    padding-bottom: 10px;
}

.footer-section-wrapper .service ul {
    font-size: 16px;
    padding-top: 6px;
}

.footer-section-wrapper .service ul li {
    font-size: 14px;
    margin-bottom: 10px;
    transition: .5s ease;
}

.footer-section-wrapper .service ul li a {
    color: #888787;
    transition: .5s ease;
}

.footer-section-wrapper .service ul li::before {
    content: "\276f";
    padding-left: 10px;
    vertical-align: -3px;
}

.footer-section-wrapper .service ul li:hover {
    color: yellow;
    padding-right: 15px;
}

.footer-section-wrapper .service ul li a:hover {
    color: yellow;
}

.footer-section-wrapper .social ul {
    direction: ltr;
    text-align: center;
    padding-top: 10px;
}

.footer-section-wrapper .social ul a {
    color: #888787;
    padding-right: 16px;
    transition: .5s ease;
}

.footer-section-wrapper .social ul a:hover {
    color: #fff;
}

.footer-section-wrapper form {
    margin-top: 45px;
}

.footer-section-wrapper form input[type=text] {
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: none;
}

.footer-section-wrapper form input[type=submit] {
    color: #fff;
    background-color: orange;
    border: none;
    top: 1px;
    left: 1px;
    height: 38px;
    padding: 0 10px;
    outline: none;
    cursor: pointer;

}

.footer-section-wrapper .contact-us ul {
    padding-top: 10px;
}

.footer-section-wrapper .contact-us ul li {
    margin-bottom: 12px;
}

.footer-section-wrapper .contact-us ul li i {
    padding-left: 15px;
    vertical-align: -3px;
}

.footer-section-wrapper .contact-us ul li span {
    font-size: 14px;
}