/* start header section styles */

.img-header {
    min-height: 90vh;
}

.overlay {
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    min-height: 90vh;
}

.header-title {
    /* color: #fff; */
    color: #6f6d6d;
    margin: 290px;
    max-width: 500px;
}

.header-title a {
    background-color: orange;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    float: left;
    margin-left: 130px;
}

@media screen and (max-width: 1100px) {


    .header-title {
        width: 100%;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;

    }

    .header-title a {
        margin-left: 90px;
    }

    .overlay,
    .img-header {
        min-height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .header-title h1 {
        font-size: 20px;
    }

    .header-title h3 {
        font-size: 16px;
    }

    .header-title a {
        font-size: 14px;
    }
}