/* start stat section style */

.stat-section-wrapper {
    background-color: #ffc412;
    min-height: 250px;
}

.stat-section-wrapper img {
    margin-top: 25px;
}

.stat-section-wrapper .count {
    margin-top: 25px;
    color: #fff;
    font-size: 26px;
}

.stat-section-wrapper .count-title {
    margin-top: 25px;
    font-size: 18px;
}