/* start teacher section style */

.teacher-section-wrapper {
    background-image: url(../img/e-bg.jpg);
}

.teacher-intro {
    background: #fff;
    width: 80%;
    height: auto;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 7px 0 #c7c7c7;
    border-radius: 5px;
}

.teacher-intro span {
    background-color: orange;
    color: #fff;
    padding: 0 5px;
}

.teacher-intro h3 {
    margin: 20px 0 50px 0;
}

.teacher-intro a {
    border: 2px solid orange;
    padding: 5px 0;
    display: inline-block;
    margin-bottom: 10px;
    width: 100px;
    text-align: center;
    font-size: 14px;
    transition: .4s ease;
}

.teacher-intro a:hover {
    background-color: orange;
    color: #fff;
}

@media screen and (max-width: 670px) {
    .teacher-intro h3 {
        font-size: 16px;
        margin: 10px 0 20px;
    }

    .teacher-intro a {
        padding: 3px 0;
        margin-bottom: 5px;
        width: 80px;
    }

    .teacher-intro {
        width: 85%;
    }
}