/* start topic section style */

.topic-section-wrapper .section-title span {
    display: inline-block;
}

.topic-section-wrapper .section-title span::before {
    content: "";
    width: 40px;
    height: 3px;
    background-color: orange;
    position: absolute;
    top: 50%;
    right: -55px;
}

.topic-section-wrapper .section-title span::after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: -55px;
}

.topic-section-wrapper {
    background-image: url(../img/color-bg.png);
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* filter: blur(1px);
    opacity: .2; */
}

.topic-wrapper:hover .card-header img {
    transform: scale(1.25) rotate(10deg);
    /* transform: rotate(10deg); */
}

.topic-wrapper .card-header {
    overflow: hidden;
}

.topic-wrapper .card-header img {
    transition: .5s ease;

    /* آزمایشی */

    /* object-fit: contain; */
    /* object-fit: cover; */
    /* object-fit: fill; */
    /* object-fit: none; */
    /* object-fit: scale-down; */
    /* object-fit: inherit; */
    /* object-fit: initial; */
    /* object-fit: unset; */
}

.topic-wrapper .card {
    box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, .05);
}

.topic-wrapper .card-body a {
    font-size: 16px;
    padding: 5px;
}

.topic-wrapper .card-body p {
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
    line-height: 23px;
    color: #5b5b5b;
}

.topic-wrapper .card-body {
    margin: 30px 5px;
}

.topic-wrapper .card-body .post-date div:first-child {
    background-color: orange;
    padding: 0 5px;
}

.topic-wrapper .card-body .post-date div:last-child {
    background-color: #c3c3c3;
    padding: 0 5px;
}


.topic-wrapper .card-body .post-date {
    top: -52px;
    right: 20px;
    min-width: 35px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.topic-wrapper .card-footer ul {
    border-top: 1px solid #e4e4e4;
}

.topic-wrapper .card-footer ul li {
    display: inline-block;
    margin: 5px 5px;
}

.topic-wrapper .card-footer ul li i,
.topic-wrapper .card-footer ul li span {
    font-size: 14px;
    color: #c9c9c9;
    margin: 0 5px;
}